@import '../../../styles//mixins.scss';
@import '../../../styles//vars.scss';

.section {
  &:nth-of-type(even) {
    background-color: $beige_2;
  }

  @include bp($tablet_max, min) {
    padding: 10rem 3rem;
  }

  @include bp($tablet_max - 1) {
    padding: 10rem 2rem;
  }
}
