@import '../../../styles//mixins.scss';
@import '../../../styles//vars.scss';

.section {
  &.fullHeight {
    @include bp($tablet_max, min) {
      display: flex;
      align-items: center;
      height: 100vh;
      min-height: 100rem;
    }
  }

  &:nth-of-type(odd) {
    background: $section-gradient;
  }

  @include bp($tablet_max, min) {
    padding: 10rem 3rem;

    &:nth-child(1) {
      padding-top: 16rem;
    }
  }

  @include bp($tablet_max - 1) {
    padding: 6rem 2rem;

    &:nth-child(1) {
      padding-top: 14rem;
    }
  }
}
