@import '../../styles//mixins.scss';
@import '../../styles//vars.scss';

.content {
  display: flex;
  gap: 10rem;

  @include bp($tablet_max, min) {
    align-items: flex-start;
  }

  @include bp($tablet_max - 1) {
    flex-direction: column;
  }
}

.imgWrapper {
  flex-shrink: 0;
  width: 40%;

  @include wrapperRounded(10rem);

  @include bp($tablet_max - 1) {
    width: 100%;
  }
}

.img {
  @include imgRounded(10rem);
}

.textWrapper {
  width: 60%;

  @include bp($tablet_max - 1) {
    width: 100%;
    text-align: center;
  }
}

.list {
  margin-bottom: 6rem;
}

.item {
  position: relative;

  font-size: 2.4rem;

  &:not(:last-child) {
    margin-bottom: 4rem;
  }

  &:after {
    position: absolute;
    content: '';
    bottom: -2rem;
    left: 5%;
    width: 40%;
    height: 2px;
    background-color: $pink;

    @include bp($tablet_max - 1) {
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.text {
  font-size: 2.4rem;
  font-weight: 600;
  text-transform: uppercase;
}
