@import '../../styles//vars.scss';

.footer {
  display: flex;
  align-items: center;
  height: 20rem;
  padding: 3rem;

  background-color: $orange;
}

.footerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoWrapper {
  display: block;
  width: 22rem;
}

.socialList {
  display: flex;
}

.socialLink {
  display: block;
  padding: 1rem;
  margin-bottom: 4rem;

  color: $black;
}

.policy {
}
